<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <title>The Team Profile Gnerator</title>
    </head>
    <body>
        <header>
            <h1>The Team</h1>
        </header>

        <main>
            <div class="card" style="width: 16rem;">
                <div class="card-header">
                    <i class="fa-duotone fa-compass-drafting"></i>Engineer</div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">ID:''</li>
                      <li class="list-group-item">Email: <span id="email><a href</li>
                    </ul>
                    

                </div>    
            </div>
        </main>
    </body>
</html>